.spinner {
    height: 2rem;
    width: 2rem;
    background: url('/favmask.svg') no-repeat center/contain;
    
    animation: spin 1.5s linear infinite;
    @keyframes spin {
        to {transform: rotate(360deg);}
    }
}
