#NOTE: Run `git add : --renormalize` after editing this file.

## Defaults
## -----------------------------------------------------------------------------
* text=auto eol=lf

## Scripts
## -----------------------------------------------------------------------------
*.js  text
*.jsx text
*.ts  text
*.tsx text

## Pages (client-side)
## -----------------------------------------------------------------------------
*.htm   text
*.html  text
*.xhtml text
*.xml   text

## Styling
## -----------------------------------------------------------------------------
*.css  text
*.less text
*.sass text
*.scss text

## Serialization
## -----------------------------------------------------------------------------
*.json  text
*.jsonc text
#NOTE: Set the below to `text` if `format-package-lock` in `.npmrc` is `true`.
package-lock.json   binary
npm-shrinkwrap.json binary

## Documentation
## -----------------------------------------------------------------------------
*.md  text
*.pdf binary
*.rst text
*.txt text

## Images
## -----------------------------------------------------------------------------
*.ico binary
*.jpg binary
*.png binary
*.xcf binary
*.svg binary
#NOTE: Set the above to `text` if you're actually hand-editing the SVGs in your project.

## Unversionable
## -----------------------------------------------------------------------------
dist/** binary
