## Version control
.git/
.pnp.*
package-lock.json
## Use `npm-shrinkwrap.json` instead of `package-lock.json`.

## Logs
logs/
*.log
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

## Dynamic/Unversionable
build/
coverage/
dist/
dist-ssr/
node_modules/
*.bak
*.old
*.tmp
*.tsbuildinfo

## IDEs
.idea/
.vscode/
!.vscode/extensions.json
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.swp

## System files
.directory
.DS_Store
.fuse_hidden*
desktop.ini
thumbs.db

## Special
*.local
!.keep
