## Version control
.git/
package-lock.json

## Dynamic/Unversionable
dist/
node_modules/
*.bak
*.log
*.old
*.swp
*.tmp
*.tsbuildinfo

## IDEs
.vscode/

## System files
.directory
.DS_Store
desktop.ini
thumbs.db
.fuse_hidden*

# Files to keep, in spite of the above rules
!.keep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
