$font-size: 1rem;
$icon-size: $font-size * 2;

$spacing-large: 1rem;
$spacing-normal: math.div($spacing-large, 2);
$spacing-small: math.div($spacing-large, 4);
$spacing-tiny: math.div($spacing-large, 8);

$border-radius: $spacing-normal;
$border-width: $spacing-tiny;

$page-width: $spacing-large * 50;
