////////////////////////////////////////////////////////////////////////////////
// Main Palette

$color-dark: #000;
$color-light: #fff;

$color-accent-primary: #df2f2f;
$color-accent-secondary: #757575;

$color-shadow: #00000075; // Black with transparency that creates `$color-accent-secondary` against a `$color-light` background.
$color-shade-amount: 15%;

////////////////////////////////////////////////////////////////////////////////
// Specific elements

$color-backdrop: darken($color-light, $color-shade-amount);

$color-border: $color-dark;

$color-button-primary-background: $color-accent-primary;
$color-button-primary-foreground: $color-light;

$color-button-secondary-background: $color-accent-secondary;
$color-button-secondary-foreground: $color-light;

$color-footer-background: $color-accent-secondary;
$color-footer-foreground: $color-light;

$color-header-background: $color-accent-primary;
$color-header-foreground: $color-light;

$color-link: $color-accent-primary;

$color-nav-background: $color-accent-secondary;
$color-nav-foreground: $color-light;

$color-page-background: $color-light;
$color-page-foreground: $color-dark;

$color-input-background: $color-light;
$color-input-foreground: $color-dark;
