.capitalize {
    text-transform: capitalize;
}
.error {
    color: $color-error;
}
.hide-following ~* {
    display: none;
}
.notelet {
    font-size: small;
}
.raw-data {
    font-family: $font-mono;
}
