////////////////////////////////////////////////////////////////////////////////
@mixin a() {
    cursor: pointer;

    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

////////////////////////////////////////////////////////////////////////////////
@mixin cell($color-background: $color-accent-secondary) {
    display: inline;

    padding: 0.25em 0.5em;
    margin: unset;

    color: $color-light;
    background-color: $color-background;
    @include text-stroke($color-shadow);

    border: $border-width solid $color-border;
    border-radius: $border-radius;
    box-sizing: border-box;

    text-transform: uppercase;
    font-size: $font-size * 0.8;
}

////////////////////////////////////////////////////////////////////////////////
@mixin button($color-background: $color-button-secondary-background) {
    @include a();
    user-select: none;

    @include cell($color-background);
    text-shadow: unset;
    margin: $spacing-small;

    &.activated {
        font-weight: bold;
    }
    &:disabled {
        color: $color-dark;
    }
    &:disabled, 
    &.activated {
        cursor: initial;
        &:hover, 
        &:focus {
            text-decoration: none;
        }
    }
    @if($color-background) {
        &:not(:disabled, .activated) {
            &:hover, 
            &:focus {
                text-decoration: none;
                background-color: darken($color-background, $color-shade-amount);
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
.button-primary {
    color: $color-button-primary-foreground;
    background-color: $color-button-primary-background;
    @include button($color-button-primary-background);
}
.button-secondary, button {
    color: $color-button-secondary-foreground;
    background-color: $color-button-secondary-background;
    @include button($color-button-secondary-background);
}
.button-text {
    color: inherit;
    background-color: transparent;
    @include button($color-button-secondary-background);
}
.button-link {
    color: $color-link;
    background-color: transparent;
    @extend a;
}
a {
    @include a();
    color: $color-link;
}

////////////////////////////////////////////////////////////////////////////////
.inline-button {
    //WARN: Quite probossibly not a good idea, but it works well in the `EvolutionsViewer`.
    margin-top: -100%;
    margin-bottom: -100%;
}
