@mixin a() {
    cursor: pointer;

    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

@mixin button($color-background) {
    @include a();
    user-select: none;

    border-radius: $border-radius;
    padding: 0.5rem;

    &.activated {
        font-weight: bold;
    }
    &:disabled, 
    &.activated {
        cursor: initial;
        &:hover, 
        &:focus {
            text-decoration: none;
        }
    }
    @if($color-background) {
        &:not(:disabled, .activated) {
            &:hover, 
            &:focus {
                text-decoration: none;
                background-color: darken($color-background, $color-shade-amount);
            }
        }
    }
}

.button-primary {
    color: $color-button-primary-foreground;
    background-color: $color-button-primary-background;
    @include button($color-button-primary-background);
}
.button-secondary, button {
    color: $color-button-secondary-foreground;
    background-color: $color-button-secondary-background;
    @include button($color-button-secondary-background);
}
.button-text {
    color: inherit;
    background-color: transparent;
    @include button($color-button-secondary-background);
}
.button-link {
    color: $color-link;
    background-color: transparent;
    @extend a;
}
a {
    @include a();
    color: $color-link;
}
