////////////////////////////////////////////////////////////////////////////////
body {
    height: 100vh;
    width: 100vw;
    overflow: visible;

    display: flex;
    justify-content: center;

    background-color: $color-backdrop;
}

////////////////////////////////////////////////////////////////////////////////
#root {
    background-color: $color-page-background;
    box-shadow: 0 0 1rem 0 $color-border;
    
    display: flex;
    flex-direction: column;

    position: relative;
    width: $page-width;
    max-width: $page-width;
}

////////////////////////////////////////////////////////////////////////////////
section {
    padding: 1rem;
    overflow-y: auto;
    overflow-x: visible;
    height: 100%;
}

////////////////////////////////////////////////////////////////////////////////
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 1rem;
    background-color: $color-header-background;

    h1 {
        color: $color-header-foreground;
    }
    @include plain-links;
}

////////////////////////////////////////////////////////////////////////////////
nav {
    color: $color-nav-foreground;
    background-color: $color-nav-background;

    display: flex;
    justify-content: start;
    
    @include plain-links;

    ul {
        display: flex;
        flex-direction: row;

        padding: 0 0.5rem;
        li a {
            display: block;
            padding: 0.5rem 0.5rem;
            &:hover {
                background-color: darken($color-nav-background, 15%);
                text-decoration: none;
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
footer {
    color: $color-footer-foreground;
    background-color: $color-footer-background;
    
    padding: 0.5rem 1rem;
    margin-top: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: small;
    gap: 1ch;

    @include plain-links;
}
