table {
    margin: 1rem 0; // Same as the block text elements
    th {
        font-weight: bold;
    }
    td, th {
        padding: 0.25rem; // Sums to `0.5rem`, widely used elsewhere in the app.
    }
}
