body {
    font-family: $font-sans;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-weight: bold;
}
h5 {
    font-weight: bold;
}
h6 {
    font-weight: bold;
}
a {
    text-decoration: none;
    a:hover {
        text-decoration: underline;
    }
}
