$line-height: 150%;

// Defaults
body, * {
    font-family: $font-sans;
    line-height: $line-height;
    font-size: $font-size;
}

// Spacing
h1, h2, h3, h4, h5, h6, p, li, pre {
    margin: $spacing-medium 0;
    line-height: $line-height;
}

// Titles
h1 {
    font-size: $font-size * 2;
    line-height: $font-size * 2;
}
h2 {
    font-size: $font-size * 1.5;
}
h3 {
    font-size: $font-size * 1.25;
}
h4, h5, h6 {
    font-weight: bold;
}

// Special tags
i, em {
    font-style: italic;
}
b, strong {
    font-weight: bold;
}
