.search-bar {
    display: flex;
    align-items: center;
    justify-content: right; // Trying to maintain some semblence of consistency for RtL writing systems, since the below styles so-often have to specify "right" instead of something like "end".
    flex-wrap: nowrap;
    
    position: relative;

    input, button {
        background-color: $color-search-background;
        color: $color-search-foreground;
        border: $border-width solid $color-border;
        
        box-sizing: border-box;
        height: 2rem; //TODO: Have this be dynamic.
        margin: 0;
    }
    button {
        @include button($color-search-background);
        
        &.reset {border-radius: $border-radius 0 0 $border-radius;}
        &.submit {border-radius: 0 $border-radius $border-radius 0;}

        border-color: transparent;
        &:not(:disabled) {
            &:hover, &:focus {
                border-color: $color-border;
            }
        }

        position: absolute;
        background-color: transparent;
        &.reset {left: 0;}
        &.submit {right: 0;}

        min-width: 2rem;
        width: 2rem;
        max-width: 2rem;

        padding: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        &.reset:disabled {visibility: hidden;}
    }
    input {
        padding: 0.5rem 2rem;
        width: 12rem;
        text-align: right;
        border-radius: $border-radius;
    }
}
