.search-bar {
    display: flex;
    align-items: center;
    justify-content: right; // Trying to maintain some semblence of consistency for RtL writing systems, since the below styles so-often have to specify "right" instead of something like "end".
    flex-wrap: nowrap;
    
    position: relative;

    >input, >button {
        background-color: $color-input-background;
        color: $color-input-foreground;
        border: $border-width solid $color-border;
        
        box-sizing: border-box;
        margin: 0;
    }
    >button {
        @include button($color-input-background);
        
        &.reset {border-radius: $border-radius 0 0 $border-radius;}
        &.submit {border-radius: 0 $border-radius $border-radius 0;}

        border-color: transparent;
        &:not(:disabled) {
            &:hover, &:focus {
                border-color: $color-border;
            }
        }

        position: absolute;
        background-color: transparent;
        &.reset {left: 0;}
        &.submit {right: 0;}

        min-width: $icon-button-size;
        width: $icon-button-size;
        max-width: $icon-button-size;

        min-height: $icon-button-size;
        height: $icon-button-size;
        max-height: $icon-button-size;

        padding: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        &.reset:disabled {visibility: hidden;}
    }
    >input {
        padding: 0.5rem $icon-button-size;
        height: $icon-button-size; // I kind of wish I didn't have to hard-code the height here, but it seems otherwise impossible to get the buttons and inputs to line up properly.
        width: 12rem;
        text-align: right;
        border-radius: $border-radius;
    }
}

.search {
    position: relative;
    .history {
        @extend .dropdown;
        display: none;
    }
    .search-bar:focus-within +.history,
    .history:active {
        display: block;
    }
    .search-bar {z-index: 2;} //HACK: This is set in `.dropdown`, but it isn't working; this line here is just a temporary workaround.
}
