.spinner {
    background: url('/favmask.svg') no-repeat center/contain; //TODO: Find some way to display something while waiting for the main image to load.  This is apparently tricky.  The best solution I've found so far, is to add `, url('some/other/image')` to the current line.
    vertical-align: middle;

    animation: spin 1.5s linear infinite;
    @keyframes spin {
        to {transform: rotate(360deg);}
    }
}
div.spinner {
    display: block;
    height: $icon-size;
    width: $icon-size;
}
span.spinner {
    display: inline-block;
    height: $font-size;
    width: $font-size;
}
