.title-with-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    margin: $spacing-medium 0;
    >h1, >h2, >h3, >h4, >h5, >h6 {
        margin: unset;
    }

    >.actions {
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
    }
}
